*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 90vh;
    min-height: 500px;
    max-height: 700px;
    padding: 2vh 0;
    background-image: url(../img/capa.png);
    background-size: cover;
    background-position: center;
}

.logo{
    float: left;
}

.logo img{
    width: 200px;
}

header nav{
    float: right;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    float: left;
    padding: 0 2vw;
}

header li a{
    text-decoration: none;
    color: white;
}   

header .chamada{
    float: right;
    height: 70%;
    width: 70%;
    max-width: 600px;
    margin-top: 130px;
    margin-right: 10vw;
}

header .chamada h2{
    color: white;
    font-size: 40px;
    font-weight: normal;
}

header .chamada p{
    color: white;
    font-size: 15px;
    font-weight: normal;
}
/*********/

/*sessao1*/
.sessao1{
    width: 100%;
    background-color: #472562;
}

.sessao1 > .container{
    display: flex;
    max-width: 700px;
    height: 250px;
}

.texto-sessao1{
    position: relative;
    left: 45px;
    height: 100%;
    width: 50%;
    color: white;
}

.texto-sessao1 h2{
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 23px;
}

.texto-sessao1 p{
    margin-bottom: 5px;
    font-size: 15px;
}

.texto-sessao1 ul{
    list-style-position: inside;
    list-style-type: square;
}

.texto-sessao1 ul li{
    font-size: 13px;
}

.btn1-texto{
    width: 165px;
    text-align: center;
    padding: 12px 0;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    background-color: #ff703d;
    cursor: pointer;
}

.device-sessao1{
    position: relative;
    bottom: 30px;
    right: 45px;
    height: calc(100% + 30px);
    width: 50%;
    background-image: url(../img/device-removebg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*medias*/
@media screen and (max-width:770px){

    /*header background*/
    header{
        height: auto;
        max-height: auto;
    }

    /*chamada*/
    header .chamada{
        float: none;
        height: auto;
        width: 100%;
        text-align: center;
        margin-top: 60px 0 60px 0;
    }

    /*sessao1*/
    .texto-sessao1{
        position: static;
        width: 100%;
        text-align: center;
    }

    .device-sessao1{
        display: none;
    }

    .texto-sessao1 ul{
        display: inline-block;
        width: auto;
    }

    .texto-sessao1 ul li{
        text-align: left;
    }

    .btn1-texto{
        margin: 15px auto;
    }
}
